
<html><head><h1><%= titulo %></h1></head>
  <body>
    <table border='2px'>
  

    <tr>
      <td><strong>city</strong></td>
      <td><strong>year</strong></td>
      <td><strong>sports</strong></td>
      <td><strong>athletes</strong></td>
      <td><strong>modality</strong></td>
    </tr>


<% if (content.length) { %>
  
    <% content.forEach(function(item,index){ %>
      <tr>
      <td><%=  item.city %></td>
      <td><%=  item.year %></td>
      <td><%=  item.sportsnumber %></td>
      <td><%=  item.athletes %></td>
      <td><%=  item.modality%></td>
      </tr>
      
    <% }) %>
  
<% } %>

<table>

    </body>
    </html>